.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left-nav {
    display: flex;
}

.page-title {
    font-size: 48px;
    color: rgba(0, 0, 0, .8);
    margin: 30px;
    margin-left: 50px;
}

.right-nav {
    display: flex;
    margin: 20px;
    margin-right: 50px;
    gap: 50px;
}

.signout-link {
    color: rgba(0, 0, 0, .8);
    font-size: 20px;
}

.signout-link:hover {
    color: #F2C6DE;
    transition: all .2s ease-out;
}

.add-blob-btn {
    color: rgba(0, 0, 0, .8);
    font-size: 30px;
}

.add-blob-btn:hover {
    color: #C6DEF1;
    transition: all .2s ease-out;
    cursor: pointer;
}

.blob-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid black; */
}

.row {
    display: flex;
    gap: 20px; /* Gap between blobs */
}

.blob {
    width: 100%;
    height: 100%;
}

.canvas-container {
    width: 100%;
    height: 100%; 
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-blobs-btn {
    color: rgba(0, 0, 0, .5);
    font-size: 30px;
}

.my-blobs-btn:hover {
    color: rgba(0, 0, 0, .8);
    transition: all .2s ease-out;
    cursor: pointer;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff; /* Change the background color as needed */
    margin-right: 10px;
    cursor: pointer;
}

.task-name {
    flex: 1;
}

.vertical-line {
    width: 2px;
    height: 30px;
    background-color: #000; /* Change the color of the vertical line */
    margin-right: 10px;
}

.task-date {
    font-size: 14px;
    color: #666; /* Change the color of the date text */
}
