.login-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-container {
    font-size: 48px;
    color: rgba(0, 0, 0, .8);
    margin-bottom: 30px;
}

.first-name-container {
    margin: 10px 0 30px;
}

.first-name-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #FFE3CF 50%);
    background-size: 200% 100%;
    background-position: right bottom;    
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    padding: 5px 80px;
    font-size: 16px;
}

.first-name-input:focus,
.first-name-input:active,
.first-name-input:hover {
    background-color: #FFE3CF !important;
    border: 1px solid #CB7940 !important;
    transition: all .5s ease-out;
    background-position: left bottom;
}

.last-name-container {
    margin: 10px 0 30px;
}

.last-name-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #F2C6DE 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    padding: 5px 80px;
    font-size: 16px;
}

.last-name-input:focus,
.last-name-input:active,
.last-name-input:hover {
    background-color: #F2C6DE !important;
    border: 1px solid #89004B !important;
    transition: all .5s ease-out;
    background-position: left bottom;
}

.email-container {
    margin: 10px 0 30px;
}

.email-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #C6DEF1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    padding: 5px 80px;
    font-size: 16px;
}

.email-input:focus,
.email-input:active,
.email-input:hover {
    background-color: #C6DEF1 !important;
    border: 1px solid #003C6B !important;
    transition: all .5s ease-out;
    background-position: left bottom;
}

.password-container {
    margin: 10px 0 20px;
}

.password-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #C9E4DE 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    padding: 5px 80px;
    font-size: 16px;
}

.password-input:focus,
.password-input:active,
.password-input:hover {
    background-color: #C9E4DE !important;
    border: 1px solid #005240 !important;
    transition: all .5s ease-out;
    background-position: left bottom;
}

.link-container {
    margin: 10px;
}

.signup-link {
    color: rgba(0, 0, 0, .8);
    font-size: 16px;
}

.signup-link:hover {
    color: rgba(110, 0, 0, .8);
}

.login-signup-container {
    display: flex;
}

.add-blob-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.add-blob-page-title {
    font-size: 48px;
    color: rgba(0, 0, 0, .8);
    margin: 30px;
    margin-left: 50px;
}

.blob-input-container {
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blob-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.blob-name-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #FFE3CF 50%);
    background-size: 200% 100%;
    background-position: right bottom;    
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    padding: 5px 50px;
    font-size: 16px;
}

.blob-color-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #FFE3CF 50%);
    background-size: 200% 100%;
    background-position: right bottom;   
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    padding: 5px 15px;
}

.divider {
    width: 85%;
    height: 10px; 
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 25px;
    margin: 20px 0;
}

.task-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    gap: 20px;
}

.task-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-name-container {
    margin: 0 auto;
}

.task-name-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #FFE3CF 50%);
    background-size: 200% 100%;
    background-position: right bottom;    
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    padding: 5px 50px;
    font-size: 16px;
    margin-right: 20px;

}

.task-delete-container {
    cursor: pointer;
    font-size: 26px;
    color: rgba(0, 0, 0, .8);
}

.task-delete-container:hover {
    color: #005240
}

.add-task-button {
    padding: 0 5px;
    border-radius: 20px;
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #EDE6F7 50%);
    background-size: 200% 100%;
    background-position: right bottom;       
    border: 1px solid #000000;
    cursor: pointer;
    padding: 5px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.add-task-button:hover {
    background-color: #EDE6F7;
    border: 1px solid #8E6EBB;
    transition: all .5s ease-out;
    background-position: left bottom;
}

.add-task-button:active {
    background-color: #8E6EBB;
    box-shadow: 0 0 5px #8E6EBB;
}

.add-task-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin-top: 10px;
}

.add-task-date-input {
    background: linear-gradient(to left, rgba(217, 217, 217, 0.2) 50%, #FFE3CF 50%);
    background-size: 200% 100%;
    background-position: right bottom;    
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    padding: 2.5px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, .8);
    margin-right: 20px;
}

.task-input-container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
    .login-page-content {
        margin: 0 10px;
    }

    .first-name-input {
        padding: 5px 50px;
    }

    .last-name-input {
        padding: 5px 50px;
    }

    .email-input {
        padding: 5px 50px;
    }

    .password-input {
        padding: 5px 50px;
    }

    .blob-name-input {
        padding: 5px 30px;
    }

    .blob-section {
        display: flex;
        flex-direction: column;
    }

    .add-task-input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-bottom: 30px;
    }

    .task-input-container-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-date-container {
        margin-right: 20px;
    }

    .blob-input-container {
        width: 90%;
    }

    .task-name-input {
        margin-right: 0px;
    }
}

/* Small Devices (Tablets) */
@media (min-width: 577px) and (max-width: 768px) {
    .blob-name-input {
        padding: 5px 30px;
    }

    .add-task-input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-bottom: 30px;
    }

    .task-input-container-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-date-container {
        margin-right: 20px;
    }

    .blob-input-container {
        width: 80%;
    }
}

/* Medium Devices (Desktops) */
@media (min-width: 769px) and (max-width: 992px) {
    .blob-input-container {
        width: 80%;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
    .blob-input-container {
        width: 60%;
    }

    .blob-section {
        gap: 20px;
    }

    .blob-name-container {
        margin-right: 40px;
    }
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1201px) {
    .blob-name-container {
        margin-right: 40px;
    }
}
