.btn-container {
    padding: 10px;
}

button {
    padding: 0 5px;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.2);
    border: 1px solid #000000;
    transition: background-color 0.3s, box-shadow 0.3s border 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #EDE6F7;
    border: 1px solid #8E6EBB;
}

button:active {
    background-color: #8E6EBB;
    box-shadow: 0 0 5px #8E6EBB;
}

.btn-name {
    padding: 5px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
}